@import "global";

.products {
    h1{
        color: #fe7800;
        font-size: 38px;
            font-weight: 800;
    }
    .box-contents{
        padding-left: 319px;
        padding-right: 319px;
    }
    .productbtn{
        text-decoration: none;
          color: white;
         font-weight: bold;
    }
}