* {
  padding: 0px;
  margin: 0px;
}

body {
  background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
}

@import "Header";
@import "Navbar";
@import "Carousel";
@import "services";
@import "column";
@import "serviceprofiles";
@import "cardui";